# OS-specific files
.DS_Store
Thumbs.db

# Editor and IDE configuration files
.vscode/
.idea/

# Node.js dependencies
node_modules/

# Build artifacts
dist/
build/
data/*

# Environment variables
.env

# JavaScript specific
*.js.map
